<% unless Post.count == 0 %>
    <% Post.all.each do |post| %>
        <%= post.title %>
        <%= post.author %>
        <%= post.content %>
    <% end %>
<% else %>
    <p>No blog posts found</p>
<% end %>
